 
   /* article { 
    background: #b1b0f1; 
    border: 1px solid #999999; 
    padding: 20px; 
    margin-bottom: 15px; 
   }  */
   form{
      background: #b1b0f1; 
    border: 1px solid #999999; 
    padding: 30px; 
    margin-bottom: 30px; 
   }
  
  }
  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
   
  